.main_container {
  display: grid;
  place-items: center;
  background-color: #F0F2F5;
  overflow-y: scroll;
  height: 650px;
}

.top_container {
  display: grid;
  justify-content: center;
  height: 580px;
  width: 1510px;
  border-bottom: 1px solid #DEE0E3;
  background-color: white;
}

.pp_container {
  width: 1100px;
}

.pp_coverImage {
  height: 400px;
  width: 1100px;
  border-radius:  0px 0px 5px 5px;
}

.pp_headerContainer {
  display: grid;
  justify-content: center;
}

.pp_headerContainer_top {
  display: flex;
  height: 120px;
  border-bottom:1px solid #CCCED2;
}

.pp_userImage_container {
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background-color: white;
  transform: translate(0px, -40%);
}

.pp_userNameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px 0px 0px 15px;
}

.pp_userName {
  
  font-size: 33px;
  font-weight: 700;
}

.pp_userTotalFriends {
  font-size: 15px;
  font-weight: 500;
  color: rgb(78, 72, 72);
}

.pp_userNickname {
  margin: 18px 0px 0px 10px;
  font-size: 31px;
}

.pp_buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 0px 320px;  
}

.pp_firstButton {
  margin: 30px 0px 0px 10px;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0866FF;
  min-width: 130px;
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
}

.pp_firstButton:hover {
  background-color: #0861F2;
}

.pp_secButton {
  margin: 30px 0px 0px 10px;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E6EB;
  min-width: 130px;
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
}

.pp_secButton:hover {
  background-color: #D8DADF;
}

.pp_thirdButton {
  margin: 30px 0px 0px 10px;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E6EB;
  width: 50px;
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
}

.pp_thirdButton:hover {
  background-color: #D8DADF;
}

.pp_button_image {
  margin: 4px;
}

.pp_firstButton_text {
  margin: 2px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.pp_secButton_text {
  margin: 2px;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.pp_headerContainer_bottom {
  display: flex;
}

.pp_headerContainer_bottom_content {
  display: flex;
}

.pp_headerContainer_bottom_content_tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 3px 3px 0px;
  width: 75px;
  height: 50px;
  font-weight: 500;
  color: #707276;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.pp_headerContainer_bottom_content_tabs.active {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 3px 3px 0px;
  width: 75px;
  height: 50px;
  font-weight: 500;
  color: #146DFF;
  border-bottom: 2px solid #146DFF;
  border-radius: 6px 6px 0px 0px ;
}

.pp_headerContainer_bottom_content_tabs:hover {
  background-color: #F2F2F2;
}

.bottom_container {
  background-color: #F0F2F5;
}

.bottom_posts_container {
  display: flex;
  margin: 15px;
}

.bottom_posts_left_container {
  width: 425px;
  display: grid;
  margin-right: 15px;
  margin-bottom: 15px;
}

.bottom_posts_right_container {
  display: grid;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow-y: scroll;
  height: 650px;
}

.bottom_posts_right_container::-webkit-scrollbar {
  display: none;
}

.friends_container {
  height: 450px;
  width: 425px;
}

.friends_container_header_text {
  font-size: 21px;
  font-weight: 700;
}

.edit_dialogBox {
    
}

.edit_container {
  display: grid;
  place-items: center;
  margin: 10px;
}

.edit_header {
  display: grid;
  border-bottom: 1px solid #E5E5E5;
}

.edit_header_text {
  width: 530px;
  margin-top: 7px;
  margin-bottom: 17px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.edit_close_container {
  display: flex;
  justify-content: flex-end;
  width: 540px;
  height: 0px;
  transform: translate(0px, 100%);
}

.edit_close {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #E4E6EB;
}

.edit_close:hover {
  background-color: #D8DADF;
}

.edit_profilePicture_preview {
  margin-top: 10px;
}

.edit_profilePicture_header {
  display: flex;
}

.edit_profilePicture_header_left {
  width: 465px;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  margin: 20px 20px 20px 0px;
}

.edit_profilePicture_header_right {
  text-align: right;
  margin: 20px 0px 20px 20px;
}

.edit_profilePicture_header_right_text {
  display: grid;
  place-items: center;
  color: #1F77D7;
  font-weight: 500;
  cursor: pointer;
  height: 35px;
  width: 45px;
  border-radius: 5px;
}

.edit_profilePicture_header_right_text:hover {
  background-color: #F2F2F2;
}

.edit_coverImage {
  width: 445px;
  height: 250px;
}

.filter_container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 600px;
}

.filter_header_text {
  margin-left: 16px;
  font-weight: 700;
  font-size: 20px;
}

#add_story {
  display: none;
}
#edit_profile {
  display: none;
}
#add_friend {
  display: none;
}
#message {
  display: none;
}
#suggest_friends {
  display: none;
}
#edit_profile_photo {
  display: none;
}
#edit_cover_photo {
  display: none;
}
#close_edit {
  display: none;
}
#close_edit_profilePicture {
  display: none;
}