.navBar_main {
  border-bottom: 1px solid #D8D8DE;
}

.navBar_logo {
  margin: 8px 10px 8px 16px;
  cursor: pointer;
}

.navBar_leftBar {
  display: flex;
}

.navBar_search {
  height: 37px;
  width: 190px;
  border-radius: 25px;
  border: 0px;
  background-color: #EFF2F5;
  font-size: 16px;
  padding-left: 30px;
  margin-top: 8px;
}

.navBar_middleBar {
  display: flex;
  margin-top: 4px;
  margin-left: 60px;
  margin-bottom: 4px;
}

.navBar_tabs {
  width: 120px;
  border-radius: 6px;
  cursor: pointer;
}

.navBar_tabs:hover{
  background-color:#dee1e6;
}

.navBar_tabs_img {
  height: 35px;
  width: 35px;
  margin-left: 6px;
  margin-top: 10px;
}

.navBar_tabs.active {
  width: 120px;
  border-radius: 5px 5px 0px 0px ;
  border-bottom: 3px solid #1b88f2;
}

.navBar_rightTab {
  display: flex;
  margin-left: 40px;
}
.navBar_rightImg {
  margin-top: 8px;
  margin-right: 8px;
}
.navBar_profileName {
  margin-top: 18px;
  font-weight: 600;
}