.post_container {
  width: 600px;
  margin-top: 20px;
  border-radius: 20px;

}

.post_container {

}

.post_header {
  display: flex;
  height: 60px;
}

.post_header_img {
  margin: 15px;
  cursor: pointer;
}

.post_header_text {
  font-weight: 700;
  margin-top : 20px;
  font-size: 14px;
  cursor: pointer;
}

.post_header_text:hover {
  text-decoration: underline;
}

.post_description {
  display: flex;
  margin: 15px;
}

.post_image {
  margin: 10px 0px;
}

.post_likeCountContainer {
  height: 35px;
  display: flex;
  padding: 0px 10px;
  border-bottom: 1px solid #dee1e6;
}

.post_like {

}

.post_like_img {
  height: 20px;
}

.post_likeCount {
  margin-left: 5px;

}

.post_likeShare {
  display: flex;
  height: 35px;
  margin: 5px;
}

.post_tabs {
  display: flex;
  justify-content: center;
  width: 200px;
  transition: background-color 0.3 ease-in-out;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 3px;
  cursor: pointer;
}

.post_tabs > input {
  display: none;
}

.post_tabs:hover {
  background-color:#dee1e6;
}

.post_tabFirst {

}

.post_tabFirst_img {
  width: 25px;
  opacity: 65%;
  margin-top: 4px;
  user-select: none;
}

.post_tabFirst_img_liked {
  width: 25px;
  margin-top: 4px;
  user-select: none;
}

.post_tabText {
  margin: 5px;
  background-color: transparent;
  user-select: none;
}

.post_tabText_liked {
  margin: 5px;
  background-color: transparent;
  user-select: none;
  color: #2373F6;
}

.post_upload {
  border-top: 1px solid #dee1e6 ;
}

.post_comment {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
}

.post_comment_textArea {
  background-color: #eff2f5;
  border-radius: 30px;
  margin-left: 13px;
  font-size: 15px;
  padding: 5px 15px 5px 15px;
}

.post_comment_text_username {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

.post_comment_text_description {
  text-align: left;
}