.mainPage_container {
  background-color: #eff2f5;
}

.imageLayout_container {
  display: flex;
  margin: 15px;
  border-radius: 7px;
  cursor: pointer;
}

.imageLayout_container:hover {
  background-color:#dee1e6;
}

.imageLayout_img {
  max-height: 35px;
  max-width: 35px;
  margin: 5px;
}

.imageLayout_text {
  font-weight: 500;
  margin: 13px 10px 10px 10px;
  font-size: 14px ;
}

.middle_container {
  margin-left: 55px !important;
  overflow-y: scroll;
  height: 650px;
  max-width: 600px !important;
}
.middle_container::-webkit-scrollbar { 
  display: none;

}
